.message {
    font-family: robotoitalic;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 2em;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
}
.welcome-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100vh;
    width: 120vw;
    background-color: #215b71;
    transform: translate(-50%,-50%) rotate(-30deg) skew(-30deg);
}
/*
.oblique {
    width: 120vw;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 50%;
    height: 100vh;
    transform: translate(-50%,-50%) rotate(-30deg) skew(-30deg);
    background: red;
}
.oblique {
    background-color: yellow;
    position: absolute;
    height: 100%;
    width: 50%;
    transform: rotate(45deg);
}
*/
.i1 {
/*    background-image: url(../assets/bg2.jpg);*/
}
.i2 {
/*    background-image: url(../assets/bg.jpg);*/
}
.i3 {
/*    background-image: url(../assets/177590.jpg);*/
}
.i4 {
/*    background-image: url(../assets/bgh.jpg);*/
} 
.message>div {
/*    background-color: rgba(0,0,0,.4);*/
    color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.message>div>h3 {
    align-self: center;
    font-weight: normal;
    mix-blend-mode: difference;
}
.welcome-wrapper {
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #183550;
/*    overflow: hidden;*/
}
.user {
    width: 80%;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-left: 20px;
    align-self: center;
    background-image: url(../assets/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.user h3 {
    text-align: center;
    float: left;
    margin-top: 75px;
    font-size: 2em;
    color: #fff;
    width: 146px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.btn-wrapper {
    text-align: center;
    float: right;
    margin-right: 20px;
    margin-top: 75px;
    box-shadow: 0 0 24px #000;
    border-radius: 5px;
    overflow: hidden;

}
.btn-wrapper button,.btn-wrapper input {
    background: none;
    padding: 10px;
    background-color: #0d89ff;
    border: none;
    color: #fff;
    font-size: 1.3em;
}
button {
    cursor: pointer;
}
.btn-wrapper input {
    background-color: #fff;
    color: #000;
}
img.user-img {
    float: left;
    height: 150px;
    margin: 15px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
    background-color: #03A9F4;
    padding: 5px;
}
@media(max-width: 930px) {
    .user {
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-content: center;
        justify-content: center;
    }
    img.user-img {
        align-self: center;
        float: none;
    }
    .user h3 {
        margin-top: auto;
        width: auto;
    }
    .btn-wrapper {
        width: fit-content;
        margin: 10px;
        align-self: center;
    }
}

#welcome-msg,#welcome-msg1 {
    position: absolute;
    display: block;
    width: 100%;
    height: 400px;
    left: 0;
    background-color: aliceblue;

/*    background-image: url(../assets/bgh.jpg);*/
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}
#welcome-msg1 {
    left: -3000px;
/*     background-image: url(../assets/bg.jpg);*/
}
.catagory {
    display: block;
}
.catagory p {
    padding: 7px;
    background-color: #e91e63;
    max-width: fit-content;
    display: inline-block;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    min-width: 50px;
    margin-left: 5px;
    
}
.msg-enter-active,
.msg-leave-active,
.msg1-enter-active,
.msg1-leave-active,
{
    transition:all .4s ease;
}
.msg1-enter {
    left: -1000px
}
.msg-leave {
    left: -1000px;
}
#info {
    background-color: rgba(0,0,0,.4);
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-content: center;*/
    width: 100%;
    height: 400px;
}
#info a {
    color: #fff;
    font-size: 1.5em;
    width: 150px;
    text-align: center;
    align-self: center;
    text-decoration: none;
    border: 1px solid #fff;
/*    border-radius: 20px;*/
    box-shadow: 3px 3px 5px rgba(255,255,255,.5);
    padding: 10px;  
    transition-duration: .4s;
}
@media(max-width: 600px) {
    #welcome-msg1 #info {
        flex-direction: column;
    }
}
    #welcome-msg #info {
        
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    #info p {
        text-align: center;
        font-size: 2.5em;
        color: #fff;
        align-self: center;
    }
#info a:hover {
    color: black;
    background-color: #fff;
}
#info a::before {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    background-color: blue;
}
.login-register {
    background-color: forestgreen;
}
.blog_posts {
    display: block;
    height: 100%;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: auto 30px 0 30px;
    align-self: center;
/*    grid-template-columns: auto auto auto auto;*/
/*    column-gap: 10px;*/
/*    row-gap: 10px;*/
}
.blog_posts a{
    text-decoration: none;
    color: #fff;
    display: block;
    min-width: auto;
    box-sizing: border-box;
    max-width: 23%;
    margin: 5px;
    float: left;
    padding: 0;
    overflow: hidden;
/*    border: 1px solid #eee;*/
/*    box-shadow: 0 0 5px #000;*/
/*    border-radius: 10px;*/
}
a #about-blog {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    color: black;
    font-size: 130%;
    background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.7));
    color: #fff;
    margin-top: -129px;
    overflow: hidden;
/*    box-shadow: 0 0 5px #000;*/
}
@media(max-width: 1100px) {
    .blog_posts a {
/*        grid-template-columns: auto auto auto;*/
        max-width: 30%;
    }
}
@media(max-width: 900px) {
    .blog_posts a {
/*        grid-template-columns: auto au;to;*/
        max-width: 47%;
    }
}
@media(max-width: 464px) {
    .blog_posts {
        display: flex;
        flex-direction: column;
    }
    .blog_posts a{
        max-width: 100%;
    }
}
.blog-poster {
    position: relative;
    height: 200px;
    width: 95%;
    padding: 5px;
    z-index: -1;
    overflow: hidden;
}
#share-catagory {
    width: 80%;
    align-self: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
#catagory {
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 10px;
    width:  50%;
    margin-right: 0;
    overflow: hidden;
}
#catagory ul{

   border:1px solid Green;
   border-radius:5px 5px 0 0;
	list-style-type: none;
	margin:0;
	padding:0;
	text-align: left;
}

#catagory ul li>a {
	display:block;
	text-decoration: none;
    color: black;
    font-size: 120%;
    font-family: serif;
	text-align: left;
	padding: 15px;
	outline: none;
	transition-duration: .4s;
}
#catagory ul li>a:hover {
	background-color: rgba(255,0,0,.7);
	color: #fff;
}
#catagory ul li:nth-child(1){
	margin:0;
	text-align: center;
	padding: 5px;
	color: #fff;
	background-color: #0d89ff;
}
#share {

    width:50%;
    margin-left: 10px;
    margin-right: 10px;
/*    margin-left: -200px;*/
}
#share span {
	display: block;
    margin-top: 4px;
    
/*	margin-left:50%;*/
	/*padding: 15px;*/
	margin-bottom:10px;
	/*background-color: rgba(255,0,0,.8);*/
	color: #fff;
}
#share span:nth-child(1) {
	padding:15px;
    border-radius: 10px 10px 0 0;
}
#share span a{
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #fff;
}
@media(max-width: 540px) {
    #share-catagory {
        flex-direction: column;
        margin: 20px;
        
    }
    #share {
        width: auto;
/*        margin-left: 0;*/
        margin: 20px;

    }
    #catagory {
        width: auto;
/*        margin-left: 0;*/
        border-radius: 10px;
        margin: 20px;
    }
}
@media(max-width: 700px) {
    .blog_posts {
        width: 100%;
    }
    #share-catagory  {
        width: 100%;
    }
}
.fb {
	background-color: blue;
}
.yb {
	background-color: rgba(255,0,0,.8);
}
.tg {
	background-color:rgb(0, 78, 113);
}
.twt {
	background-color:rgb(0, 180, 255);
}
.insta {
	background: linear-gradient(to right,red,yellow);
}

.share-msg {
	padding:5px;
	background-color: #0d89ff;
	color: #fff;
}
p.blog-title {
	height: 72px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
li.title {
    width: 100%;
    border-radius: 3px 3px 0 0;
    box-shadow: none;
    overflow: hidden;
}
.reactions {
    display: flex;
    padding: 7px;
    justify-content: space-around;
    background-color: #E91E63;
    margin-right: -8px;
    margin-left: -8px;
    margin-bottom: -8px;
/*    box-shadow: 0 0 5px #000;*/
}
#catagory ul li>a.active-catagory {
    background-color: #e91e63;
    color: #fff;
}